* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #5a4a77;
    color: wheat;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 105px;
    width: 110px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice:hover {
    background-color: black;
    cursor: pointer;
}

.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* mix-blend-mode: darken; */
}

.scoreboard {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    align-items: center;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 3rem;
}

.msgContainer {
    margin-top: 5rem;
}

#message {
    background-color: rgb(94, 55, 55);
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin-top: 5rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}